{% extends "cbv/master.html" %}

{% block content %}

{% if categoria %}
    <h1>{{ categoria.Nome }}</h1>
{% else %}
    <h1>Mais Conteúdo Exclusivo</h1>
{% endif %}

{% if categoria %}
<form method="POST" action="/conteudoexclusivo/listas/{{ categoria.slug }}/">
{% else %}
<form method="POST" action="/conteudoexclusivo/mais">
{% endif %}

{% csrf_token %}
{{ form.busca }}
<input type="submit" value="Pesquisar">
</form>


<ul>
    {% for conteudo in conteudos %}
    <li style="border: 1px solid black;">
        <span>
                {% if not categoria %}
                <h2><a href="/conteudoexclusivo/listas/{{ conteudo.Categoria.slug }}">{{ conteudo.Categoria.Nome }}</a></h2>
                {% endif %}
                <h3><a href="/conteudoexclusivo/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/">{{ conteudo.Titulo }}</a></h3>
                <h4>{{ conteudo.Detalhe }}</h4>
        </span>
    </li>
    {% endfor %}
<ul>

{% endblock %}