{% extends "cbv/master.html" %}
{% load paging_extras %}

{% block content %}
<table>
    <tr>
        {% for conteudo in conteudos_carrossel %}
        <td>
            <h3><a href="/conteudoexclusivo/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/">{{ conteudo.Titulo }}</a></h3>
            <h4>{{ conteudo.Detalhe }}</h4>
            <img src="{{ MEDIA_URL }}{{ conteudo.ImagemCarrossel }}">
        </td>
        {% endfor %}
    </tr>
</table>

<ul>
    {% paginate conteudos_exibir from request as results %}
    {% for conteudo in results.objects %}
    <li style="border: 1px solid black;">
        <span>
                <h2><a href="/conteudoexclusivo/listas/{{ conteudo.Categoria.slug }}/">{{ conteudo.Categoria.Nome }}</a></h2>
                <h3><a href="/conteudoexclusivo/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/">{{ conteudo.Titulo }}</a></h3>
                <h4>{{ conteudo.Detalhe }}</h4>
        </span>
    </li>
    {% endfor %}
    {{ results.paging }}
<ul>
    <h1><a href="/conteudoexclusivo/mais/">Mais Conteúdo</a></h1>
{% endblock %}