{% extends "cbv/master.html" %}

{% block extrameta %}
<meta property="og:type" content="website" />
<meta property="og:image" content="{{conteudo.Topo.url}}" />
<meta property="og:description" content="{{conteudo.Conteudo|striptags|truncatewords:40}}" />
{% endblock %}

{% block title %}{{ conteudo.Titulo }} - CBV{% endblock %}

{% block content %}

<div class="space"></div>
    <div class="tituloBold">{{ conteudo.Titulo }}</div>

    <!--imagem programa-->
    <div class="container">
        <div class="row">
            <div><img src="{{ MEDIA_URL }}{{ conteudo.Topo }}" class="imgPrincipal" alt="" border=""></div>
        </div>
    
        <div class="space"></div>
        
        {% if user.is_authenticated %}
        <div class="row" style="text-align:left;">
            {{conteudo.Conteudo|safe}}
        </div>
        {% else %}
        <div class="row" style="text-align:left;">
            {{conteudo.Conteudo|safe|truncatewords:40}}
        </div>
        <div class="row">
        <h1> Para acessar o conteúdo completo faça seu login</h1>
        </div>
        <div class="row">
            {% include 'cbv/formcadastrobasico_snippet.html' %}
        </div>
        {% endif %}

    </div>


{% endblock %}