{% extends "cbv/master.html" %}

{% block content %}

<div class="space"></div>
<div class="tituloBold">HISTÓRICO</div>

<div class="container">
    <div class="row">

        <form method="POST" action="/censosvolei/mais/{{ ativo }}/">

        {% csrf_token %}
        <div class="col-xs-12 col-lg-12 ">
          <div class="col-xs-10 col-lg-6 backgroundPesquisa"> 
            <div class="col-xs-10 col-lg-11 backgroundPesquisa"> 
                    {{ form.busca }}
            </div>
            <div class="col-xs-2 col-lg-1" align="left" style="padding-top:4px;"> <a href="#"><img src="/static/cbv/img/lupa.png" alt="" border=""></a> </div>
          </div>
        </div>
        </form>
    </div>
</div>


<div class="space"></div>
<div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-xs-12 col-lg-12">
{% for conteudo in conteudos %}
          <div class="col-xs-12 col-lg-6 paddingBottom">
            <div class="media">
                <img src="{{ MEDIA_URL}}{{conteudo.Thumb}}" 
                class="media-object pull-left tamanhoFixo1" alt="">
              <div class="media-body" align="left">
		        <a style="color:#5a5a5a" 
                    href="/censosvolei/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id}}">
                <h3 class="media-heading">{{ conteudo.Titulo }}</h3>
                <h5>{{ conteudo.Detalhe|default_if_none:"" }}</h5>
		        </a>
              </div>
            </div>
            <div class="space"></div>
          </div>
{% endfor %}
</div>
</div>
</div>

{% endblock %}