{% extends "cbv/master.html" %}

{% block content %}
 <div class="space"></div>
    <div class="tituloBold">{{ banner.Titulo }}</div>
    <div class="subTitulo">{{ banner.Subtitulo|default_if_none:"" }}</div>
    
    <!--início carrossel-->
    <div class="container">
    {% include 'cbv/carroussel_snippet.html' %}
    </div>
    <!--fim carrossel-->
    <div class="space"></div>
    
    <div class="tituloBold  paddingBottom">CONHEÇA E PARTICIPE DAS PESQUISAS</div>
    
    <!--thumbs-->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-12 alinhaCamposCenter">
          <div class="col-xs-12 col-lg-2"></div>
          {% for conteudo in censosvoleiativos %}
          <div class="col-xs-12 col-lg-4 paddingBottom">
            <div class="media">
                <img src="{{ MEDIA_URL}}{{conteudo.Thumb}}" class="media-object pull-left tamanhoFixo1" alt="">
              <div class="media-body fonteMyriad" align="left">
                <h3 class="media-heading">{{conteudo.Titulo|upper}}</h3>
                <h4>{{conteudo.Detalhe|default_if_none:""}}</h4>
                <a href="/censosvolei/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/" type="button" class="btn btn-success">SAIBA MAIS</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="space"></div>
        <div align="center">
          <a href="/censosvolei/mais/ativos/" type="button" class="btn btn-success">MAIS PESQUISAS</a>
        </div>
        <div class="space paddingBottom"></div>
      </div>
      <!-- /.row --> 
    </div>
    
    <div class="tituloBold  paddingBottom">CONFIRA OS RESULTADOS</div>
    
    <!--thumbs-->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-12 alinhaCamposCenter">
          <div class="col-xs-12 col-lg-2"></div>
          {% for conteudo in censosvoleiinativos %}
          <div class="col-xs-12 col-lg-4 paddingBottom">
            <div class="media">
                <img src="{{ MEDIA_URL}}{{conteudo.Thumb}}" class="media-object pull-left tamanhoFixo1" alt="">
              <div class="media-body fonteMyriad" align="left">
                <h3 class="media-heading">{{conteudo.Titulo|upper}}</h3>
                <h4>{{conteudo.Detalhe|default_if_none:""}}</h4>
                <a href="/censosvolei/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/" 
                    type="button" class="btn btn-default letraVerde">VEJA COMO FOI</a>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
        <div class="space"></div>
        <div align="center">
          <a href="/censosvolei/mais/inativos/" type="button" class="btn btn-success">MAIS RESULTADOS</a>
        </div>
        <div class="space"></div>
      </div>
    </div>

{% endblock %}