{% extends "cbv/master.html" %}

{% block extrahead %}
<link rel="stylesheet" href="/static/cbv/css/jquery.modal.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="col-xs-12 col-lg-4"></div>
          <div class="col-xs-12 col-lg-5">
            <form  method="post" action="/faleconosco/" onsubmit="">
            {% csrf_token %}
              <div> <span class="register-box-title">FALE CONOSCO</span>
                <div class="form-group alinhaCamposLeft">
                  <label for="nome">NOME:</label>
                  {{ form.nome }}
                </div>
                {{ form.nome.errors }}
                <div class="form-group alinhaCamposLeft">
                  <label for="email">E-MAIL:</label>
                  {{ form.email }}
                </div>
                {{ form.email.errors }}
                <div class="form-group alinhaCamposLeft">
                  <label for="mensagem">MENSAGEM:</label>
                  {{ form.mensagem }}
                </div>
                {{ form.mensagem.errors }}
                <div class="alinhaCamposLeft">
                  <button type="submit" class="btn btn-success">ENVIAR</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

{% if enviado %}
<div id="msgSucesso" style="display:none;">
   <p class="fonteMyriadMsgSucesso">Mensagem enviada<br>com sucesso!</p>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('#msgSucesso').modal('show');
});
</script>
{% endif %}
{% endblock %}

{% block extrascript %}
<script src="/static/cbv/js/jquery.modal.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}