{% extends 'admin/index.html' %}
{% block content%}
{{ block.super}}

<script type="text/javascript">
    var div = document.getElementsByClassName('app-sitecbv')[0];
    var tabela = div.getElementsByTagName('table')[0];
    var linha = tabela.insertRow(0);
    var cel1 = document.createElement('th');
    linha.appendChild(cel1);
    var cel2 = linha.insertCell(1);
    var cel3 = linha.insertCell(2);

    cel1.innerHTML = "<a href='{% url 'relatoriocadastro' %}'>Relatório de Cadastro de Usuários</a>";
    

</script>

{% endblock %}