<!-- início Carrossel   ================================================== -->
<div id="myCarouselNaoLogada" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for conteudo in conteudos_carrossel %} {% if forloop.counter == 1 %}
        <li data-target="#myCarouselNaoLogada" data-slide-to="1" class="active"></li>
        {% else %}
        <li data-target="#myCarouselNaoLogada" data-slide-to="{{ forloop.counter }}"></li>
        {% endif %} {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for conteudo in conteudos_carrossel %}
        <div class="item {% if forloop.counter == 1 %}active{% endif %}">
            <img class="first-slide" src="{{ MEDIA_URL }}{{ conteudo.ImagemCarrossel }}" alt="Slideslide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{ conteudo.Titulo }}</h1>
                    <p>{{ conteudo.Detalhe }}</p>
                    <p><a class="btn btn-lg btn-primary" href="/conteudoexclusivo/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/"
                            role="button">Ver mais</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarouselNaoLogada" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
    <a class="right carousel-control" href="#myCarouselNaoLogada" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
<!-- fim carrossel -->