<!-- início Carrossel   ================================================== -->
{% load set_var %}
{% load tags %}
{% set carroussel = ""%}
{% if user.is_authenticated or mostrarcompleto%}
    {% set carroussel = "myCarousel"%}
{% else %}
    {% set carroussel = "myCarouselNaoLogada"%}
{% endif %}
<div id="{{ carroussel }}" class="carousel carousel-cbv slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for conteudo in conteudos_carrossel %} {% if forloop.counter == 1 %}
        <li data-target="#{{ carroussel }}" data-slide-to="{{ forloop.counter|add:"-1" }}" class="active"></li>
        {% else %}
        <li data-target="#{{ carroussel }}" data-slide-to="{{ forloop.counter|add:"-1" }}"></li>
        {% endif %} {% endfor %}
    </ol>
    <div class="carousel-inner carousel-inner-cbv" role="listbox">
        {% for conteudo in conteudos_carrossel %}
        <div class="item {% if forloop.counter == 1 %}active{% endif %}"
            style="background-image: url('{{ MEDIA_URL }}{{ conteudo.ImagemCarrossel }}')">
                {% if user.is_authenticated %}
                <div class="carousel-captionIndex">
                {% else %}
                <div class="carousel-captionIndex2">
                {% endif %}
                    <div class="fundoBannerTransparente">   
                    <div class="tamanhoTitBanner">
                        <h1 class="carousel-inner-cbv-title">
                            {% if conteudo|contexto == 'bannerhome' %}
                            <a  href="{{ conteudo.Link }} " target="blank">
                                {{ conteudo.Titulo }}
                            </a>        
                            {% else %}
                            <a  href="/{{ conteudo|contexto }}/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/">
                                {{ conteudo.Titulo }}
                            </a>
                            {% endif %}
                        </h1>
                    </div>
                    <div class="tamanhoTxtBanner hidden-xs hidden-sm">
                        {% if user.is_authenticated %}
                            <p class="fonteBrancaTxt">
                        {% else %}
                            <p class="fonteBrancaTxtNaoLogada">
                        {% endif %}
                            {{ conteudo.Detalhe|default_if_none:"" }}
                            {{ conteudo.Subtitulo|default_if_none:"" }}
                        </p>
                    </div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#{{ carroussel }}" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
    <a class="right carousel-control" href="#{{ carroussel }}" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
<!-- fim carrossel -->