<!-- início Carrossel   ================================================== -->
{% load set_var %}
{% load tags %}
{% set carroussel = ""%}
{% if user.is_authenticated or mostrarcompleto%}
    {% set carroussel = "myCarousel"%}
{% else %}
    {% set carroussel = "myCarouselNaoLogada"%}
{% endif %}
<div id="{{ carroussel }}" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for conteudo in conteudos_carrossel %} {% if forloop.counter == 1 %}
        <li data-target="#{{ carroussel }}" data-slide-to="{{ forloop.counter|add:"-1" }}" class="active"></li>
        {% else %}
        <li data-target="#{{ carroussel }}" data-slide-to="{{ forloop.counter|add:"-1" }}"></li>
        {% endif %} {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for conteudo in conteudos_carrossel %}
        <div class="item {% if forloop.counter == 1 %}active{% endif %} "> 
            <img class="first-slide" src="{{ MEDIA_URL }}{{ conteudo.ImagemCarrossel }}" alt="First slide">
                <div class="carousel-captionIndex">             
                    <div class="fundoBannerTransparente">   
                    {% if user.is_authenticated or mostrarcompleto%}
                    <div class="tamanhoTitBanner">
                        <h1 class="fonteBrancaLogadaNaoLogada">
                            <a  href="/{{ conteudo|contexto }}/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/">
                                {{ conteudo.Titulo }}
                            </a>
                        </h1>
                    </div>
                    <div class="tamanhoTxtBanner">
                        <p class="fonteBrancaTxt">{{ conteudo.Detalhe|default_if_none:"" }}</p>
                    </div>
                    {% else %}
                        <div class="tamanhoTitBanner">
                            <h1 class="fonteBrancaLogadaNaoLogada">
                            <a href="/{{ conteudo|contexto }}/listas/{{ conteudo.Categoria.slug }}/{{ conteudo.id }}/">
                                {{ conteudo.Titulo }}
                            </a>
                            </h1>
                        </div>
                        <div class="tamanhoTxtBanner">
                            <p class="fonteBrancaTxt">{{ conteudo.Detalhe|default_if_none:"" }}</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#{{ carroussel }}" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
    <a class="right carousel-control" href="#{{ carroussel }}" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
<!-- fim carrossel -->