{% load socialaccount %}
{% block extrascript %}
  {% providers_media_js %}
{% endblock%}
            <div class="register-box">
                <div class="caixa"> 
                <span class="register-box-title">JÁ SOU CADASTRADO</span>
                <form action="/login/" method="post" autocomplete="off">
                {% csrf_token %}
                  <div>
                    {{ formlogin.non_field_errors }}
                  </div>
                  <div>
                    {{ formlogin.email.errors }}
                    {{ formlogin.email }}
                  </div>
                  <div>
                    {{ formlogin.password.errors }}
                    {{ formlogin.password }}
                  </div>
                  <div>
                    <button type="submit" class="btn btn-success">OK</button>
                  </div>
                </form>
                  <div>
                    <div style="padding-top:5px;">
                      <form action="{% provider_login_url "facebook" %}">
                        <button type="submit" class="btn btn-primary">ENTRAR COM FACEBOOK</button>
                      </form>
                    </div>
                    <div>
                      <form action="{% url "password_reset_recover" %}">
                        <button type="submit" class="btn btn-link">Esqueci minha Senha</button>
                      </form>
                    </div>
                  </div>
                  <div style="height:10px;"></div>
                  <div style="background-image: linear-gradient(to right, #1b416c, white, #1b416c); height:2px"></div>
                  <div style="padding:5px 0;"></div>
                  <span class="register-box-title">AINDA NÃO SOU CADASTRADO</span><br>
                  <span class="register-box-txt">Tenha acesso a todos os benefícios e<br>
                  conteúdos exclusivos</span>
                  <div style="height:10px;"></div>
                  <form action="/cadastrarusuariobasico/" method="post">
                  {% csrf_token %}
                  {{ formcadastrobasico.non_field_errors }}
                  {{ errors }}
                  {{ formcadastrobasico.firstname.errors }}
                  <div>
                    {{ formcadastrobasico.firstname }}
                  </div>
                  {{ formcadastrobasico.email.errors }}
                  <div>
                    {{ formcadastrobasico.email }}
                  </div>
                  {{ formcadastrobasico.cpfpassaporte.errors }}
                  <div>
                    {{ formcadastrobasico.cpfpassaporte }}
                    {{ formcadastrobasico.unidadefederativa.errors }}
                    {{ formcadastrobasico.unidadefederativa }}
                  </div>
                  {{ formcadastrobasico.password.errors }}
                  <div>
                    {{ formcadastrobasico.password }}
                    {{ formcadastrobasico.passwordconfirm.errors }}
                    {{ formcadastrobasico.passwordconfirm }}
                  </div>
                  <div><button type="submit" class="btn btn-success">CADASTRAR</button></div>
                  </form>
                  <div style="padding-top:5px;">
                      <form action="{% provider_login_url "facebook" %}">
                        <button type="submit" class="btn btn-primary">CADASTRAR COM FACEBOOK</button>
                      </form>
                    </div>
                </div>
            </div>
