<div class="container">
  <!-- inicio colunas abaixo do carrossel -->
  <div><span class="tituloBold">BENEFÍCIOS</span></div> 
  <div class="space"></div>
  <div class="row row-centered" >
    {% for beneficio in beneficios %}
    <div class="col-md-2 col-sm-4 col-xs-7 col-centered" style="vertical-align: top;"> <img class="img-circle" src="{{ MEDIA_URL}}{{ beneficio.Imagem}}" alt="" border="0">
      <p  class="fonteMyriadTexto">{{beneficio.Descricao}}</p>
    </div>
    {% endfor %}
  </div>
  <!-- /.row -->
</div>
