<div class="container marketing">
  <!-- inicio colunas abaixo do carrossel -->
  <div><span class="tituloBold">BENEFÍCIOS</span></div> 
  <div class="space"></div>
  <div class="row">
    <!--beneficio 1-->
    <div class="col-lg-4"> <img class="img-circle" src="/static/cbv/img/imgBeneficioEmail.png" alt="" border="0">
      <p>Receba programação das transmissões por e-mail</p>
    </div>

    <!--beneficio 2-->
    <div class="col-lg-4"> <img class="img-circle" src="/static/cbv/img/imgBeneficioDesconto.png" alt="" border="0">
      <p>Ganhe descontos em ingressos <br> em eventuais torneios</p>
    </div>

    <!--beneficio 3-->
    <div class="col-lg-4"> <img class="img-circle" src="/static/cbv/img/imgBeneficioExperiencias.png" alt="" border="0">
      <p>Participe de ações e <br> experiências exclusivas</p>
    </div>

    <!--beneficio 4-->
    <div class="col-lg-4"> <img class="img-circle" src="/static/cbv/img/imgBeneficioTorcida.png" alt="" border="0">
      <!--h2>Faça parte da torcida oficial <br> do Vôlei Brasil</h2-->
      <p>Faça parte da torcida oficial <br> do Vôlei Brasil</p>
      <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
    </div>
  </div>
  <!-- /.row -->
</div>
