{% extends "cbv/master.html" %}

{% block content %}
    {% if programa %}

        <div class="tituloBold">{{ programa.Titulo }}</div>

        <!--imagem programa-->
        <div class="container">
            <div class="row">
                <div><img src="{{ MEDIA_URL }}{{ programa.Topo }}" class="imgPrincipal" alt="" border=""></div>
            </div>
            <div class="row" style="text-align:left;">
                {{ programa.Conteudo|safe }}
            </div>
        </div>
    {% endif %}
    <div class="space"></div>
    {% include 'cbv/marketing.html' %}
{% endblock %}