{% extends "cbv/master.html" %}

{% block content %}
    {% if programa %}

        <div class="space"></div>
        <div class="tituloBold">{{ programa.Titulo|upper }}</div>
        <div class="subTitulo">{{ programa.Subtitulo|default_if_none:"" }}</div>

        <!--imagem programa-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12" 
                    style="text-align:left;background:url({{ MEDIA_URL }}{{ programa.Topo }});padding:40px;background-repeat:no-repeat;background-size:100% 100%;" >
                {{ programa.Conteudo|safe }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="space"></div>
    {% include 'cbv/marketing.html' %}
{% endblock %}
