{% extends "cbv/master.html" %} {% block content %}

<div class="space"></div>
<div class="tituloBold">COMPLETE SEU CADASTRO</div>
<div class="container">
    <div class="row">
        <form method="POST" action="/cadastrocomplementar/">
            {% csrf_token %}
            <div class="col-lg-1"></div>
          <div class="col-lg-9">
            <div class="col-xs-12 col-lg-6">
                {{ formulario.non_field_errors }}
                <div class="form-group alinhaCamposLeft">
                    <label for="cpf">CPF | Passaporte:<span class="required">*</span></label> 
                    {{ formulario.cpf }} {{ formulario.cpf.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="nome">Nome:<span class="required">*</span></label> 
                    {{ formulario.firstname }} {{ formulario.firstname.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="dataNascimento">Data de nascimento:<span class="required">*</span></label> 
                    {{ formulario.nascimento }} {{ formulario.nascimento.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="sexo">Sexo:<span class="required">*</span></label>
                    {{ formulario.sexo }} {{ formulario.sexo.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="celular">Celular:</label> 
                    {{ formulario.celular }} {{ formulario.celular.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="idade">Telefone</label> 
                    {{ formulario.telefone }} {{ formulario.telefone.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="cep">CEP:</label> 
                    {{ formulario.cep }} {{ formulario.cep.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="endereco">Endereço:</label> 
                    {{ formulario.endereco }} {{ formulario.endereco.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="numero">Número:</label> 
                    {{ formulario.numero }} {{ formulario.numero.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="complemento">Complemento</label> 
                    {{ formulario.complemento }} {{ formulario.complemento.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="bairro">Bairro:</label> 
                    {{ formulario.bairro }} {{ formulario.bairro.errors }}
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="form-group alinhaCamposLeft">
                    <label for="cidade">Cidade</label> 
                    {{ formulario.cidade }} {{ formulario.cidade.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="estado">Estado:</label> 
                    {{ formulario.ufed }} {{ formulario.ufed.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="pais">País</label> 
                    {{ formulario.pais }} {{ formulario.pais.errors }}
                </div>
                <div class="form-group alinhaCamposLeft">
                    <label for="modalidade">Qual modalidade do Voleibol você prefere?<span class="required">*</span></label>
                    {{ formulario.modalidade_favorita }} {{ formulario.modalidade_favorita.errors }}
                </div>
                <div id="jogadores" style="display:none;">
                    <div class="form-group alinhaCamposLeft">
                        <label for="atletaVoleiPraiaFeminino">Qual atleta de Vôlei de Praia feminino você torce?<span class="required">*</span></label>
                        {{ formulario.jogadora_favorita }} {{ formulario.jogadora_favorita.errors }}
                    </div>
                    <div class="form-group alinhaCamposLeft">
                        <label for="atletaVoleiPraiaMasculino">Qual atleta de Vôlei de Praia masculino você torce?<span class="required">*</span></label>
                        {{ formulario.jogador_favorito }} {{ formulario.jogador_favorito.errors }}
                    </div>
                    <div class="form-group alinhaCamposLeft">
                        <label for="outroClubeMasculino">Você torce para mais alguma atleta de Vôlei de Praia Feminino?</label>
                        {{ formulario.jogadoras_secundarias_femininas }} {{ formulario.jogadoras_secundarias_femininas.errors }}
                    </div>
                    <div class="form-group alinhaCamposLeft">
                        <label for="outroClubeMasculino">Você torce para mais algum atleta de Vôlei de Praia Masculino?</label>
                        {{ formulario.jogadores_secundario_masculinos }} {{ formulario.jogadores_secundario_masculinos.errors }}
                    </div>
                </div>
                <div id="times" style="display:none;">
                    <div class="form-group alinhaCamposLeft">
                        <label for="clubeFeminino">Qual clube feminino você torce?<span class="required">*</span></label>
                        {{ formulario.time_favorito_feminino }} {{ formulario.time_favorito_feminino.errors }}
                    </div>
                    <div class="form-group alinhaCamposLeft">
                        <label for="clubeMasculino">Qual clube masculino você torce?<span class="required">*</span></label>
                        {{ formulario.time_favorito_masculino }} {{ formulario.time_favorito_masculino.errors }}
                    </div>
                    <div class="form-group alinhaCamposLeft">
                        <label for="outroClubeFeminino">Você torce por algum outro clube feminino?</label>
                        {{ formulario.times_secundarios_masculino }} {{ formulario.times_secundarios_masculino.errors }}
                    </div>
                    <div class="form-group alinhaCamposLeft">
                        <label for="outroClubeMasculino">Você torce por algum outro clube masculino?</label>
                        {{ formulario.times_secundarios_feminino }} {{ formulario.times_secundarios_feminino.errors }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-12 paddingBottom"></div>
            <div class="col-xs-12 col-lg-12 paddingBottom">
                <div class="col-xs-12 col-lg-1">
                <button type="button" 
                    class="btn btn-toggle btn-primary alinhaCamposLeft" 
                    data-element="#divAlterarSenha">TROCAR SENHA</button>
                </div>
                <div class="col-xs-12 col-lg-12"></div>
                <div id="divAlterarSenha" class="col-xs-12 col-lg-12 escondeDiv">
                <div class="col-xs-12 col-lg-4 form-group alinhaCamposLeft">
                    <label for="senhaAntiga">Senha antiga:</label>
                    {{formulario.senhaantiga}}
                    {{formulario.senhaantiga.errors}}
                </div>
                <div class="col-xs-12 col-lg-4 form-group alinhaCamposLeft">
                    <label for="novaSenha">Nova senha:</label>
                    {{formulario.senhanova}}
                    {{formulario.senhanova.errors}}
                </div>
                <div class="col-xs-12 col-lg-4 form-group alinhaCamposLeft">
                    <label for="confirmaSenha">Confirmar senha:</label>
                    {{formulario.confirmacaosenha}}
                </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="checkbox">
                    <label>
                        {{ formulario.receberinformacoesprograma}} Quero receber informações do Programa por e-mail
                    </label>
                </div>
                
                <input type="submit" 
                    class="btn btn-success" 
                    value="{% if formulario.instance.cadastrocompleto %}ALTERAR INFORMAÇÕES{% else %}COMPLETAR CADASTRO{% endif %}">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        trocarModalidadeFavorita();
        $('#id_modalidade_favorita').on('change', function (e) {
            trocarModalidadeFavorita();
        });
    });

    function trocarModalidadeFavorita() {
        if ($("#id_modalidade_favorita option:selected").val() == "VQ") {
            $("#jogadores").hide();
            $("#times").show();
        }
        else if($("#id_modalidade_favorita option:selected").val() == "VP") {
            $("#jogadores").show();
            $("#times").hide();
        }
        else {
            $("#jogadores").show();
            $("#times").show();
        }
    }

    function trocarCpfPassaporte() {
        if ($('#id_ufed option:selected').val == "FO") {
            $('#id_cpf').attr("placeholder", "Passaporte");
            $('#id_cpf').attr("pattern", "^[\\d\\w]+$");
            $('#id_tipodocumento').val("PAS");
        }
        else {
            $('#id_cpf').attr("placeholder", "CPF");
            $('#id_cpf').attr("pattern", "^\\d{11}+$");
            $('#id_tipodocumento').val("CPF");
        }
    }

</script>

<script language="javascript">
$(function(){
        $(".btn-toggle").click(function(e){
            e.preventDefault();
            el = $(this).data('element');
            $(el).toggle();
        });
    });
</script>

{% endblock %}